apiVersion: apps/v1
kind: Deployment
metadata:
  name: api
  namespace: chefos
spec:
  template:
    spec:
      containers:
        - name: api
          command: ['pnpm']
          args: ['--filter', '@chefos/api', 'dev']
          env:
            - name: NODE_ENV
              value: 'development'
