apiVersion: v1
kind: Service
metadata:
  name: admin
  namespace: chefos
spec:
  type: LoadBalancer
  ports:
    - port: 5173
      targetPort: 80
  selector:
    app: admin
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: admin
  namespace: chefos
spec:
  replicas: 1
  selector:
    matchLabels:
      app: admin
  template:
    metadata:
      labels:
        app: admin
    spec:
      containers:
        - name: admin
          image: chefos-admin:latest
          imagePullPolicy: Never
          ports:
            - containerPort: 80
