apiVersion: v1
kind: Service
metadata:
  name: api
  namespace: chefos
spec:
  type: LoadBalancer # Docker Desktop 会自动映射到 localhost:4000
  ports:
    - port: 4000
      targetPort: 4000
  selector:
    app: api
